.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rbuildignore
inst/doc
inst/.DS_Store
inst/rmarkdown/.DS_Store
inst/rmarkdown/templates/.DS_Store
inst/rmarkdown/templates/Bacher_Group_HTML/.DS_Store
codecov.yml
/doc/
/Meta/
R/.DS_Store
.Rproj
src/*.o
src/*.so
